<div class="page-content" style="min-height: 1382px;" ng-controller="contactCtrl">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        {{locale.pageTitle[selectedLanguage.value]}}        
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject uppercase"> {{locale.section.contactInfo.caption[selectedLanguage.value]}}</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <address>
                        <i class="icon-location-pin"></i>
                        {{locale.section.contactInfo.address[selectedLanguage.value]}}
                    </address>
                    <address>
                        <a href="tel:+842462955377">
                            <i class="fa fa-phone"></i>
                            (+84 24) 62955377
                        </a>
                    </address>
                    <address>
                        <a href="mailto:info@gvcompany.com">
                            <i class="fa fa-envelope"></i>
                            info@gvcompany.com
                        </a>
                    </address>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-yellow-gold">
                        <span class="caption-subject uppercase"> {{locale.section.contactForm.caption[selectedLanguage.value]}}</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" name="contact">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">{{locale.section.contactForm.label.yourName[selectedLanguage.value]}}</label>
                                <div class="col-md-6">
                                    <input type="text" name="yourName" class="form-control" ng-model="contactInfo.YourName" required>
                                    <span class="help-block"
                                          ng-show="hasError(contact.yourName, 'required')"> 
                                        {{locale.section.contactForm.error.yourNameRequired[selectedLanguage.value]}} 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">{{locale.section.contactForm.label.yourEmail[selectedLanguage.value]}}</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="yourEmail" ng-model="contactInfo.YourEmail" required>
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <span class="help-block"
                                              ng-show="hasError(contact.yourEmail, 'required')">
                                            {{locale.section.contactForm.error.yourEmailRequired[selectedLanguage.value]}}
                                        </span>
                                        <span class="help-block"
                                              ng-show="hasError(contact.yourEmail, 'invalid')">
                                            {{locale.section.contactForm.error.yourEmailInvalid[selectedLanguage.value]}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{locale.section.contactForm.label.message[selectedLanguage.value]}}</label>
                                <div class="col-md-6">
                                    <textarea cols="1" rows="5" class="form-control " name="message" ng-model="contactInfo.Message" required>><</textarea>
                                    <span class="help-block"
                                          ng-show="hasError(contact.message, 'required')">
                                        {{locale.section.contactForm.error.messageRequired[selectedLanguage.value]}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"
                                            ng-click="submitForm()">
                                        {{locale.section.contactForm.label.submitButton[selectedLanguage.value]}}
                                    </button>                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/app/components/contact/contact.js"></script>
}