@section css {
    <link href="~/app/components/product/product.css" rel="stylesheet" />
}
<div class="page-content" style="min-height: 1382px;" ng-controller="productRegisterCtrl">
    <div class="hero">
        <div class="hero--image">
            <img src="~/app/assets/imgs/banner1.jpg" />
        </div>
    </div>
    <div class="product-form-wrapper">
        <h2 class="title">
            {{locale.title[selectedLanguage.value]}}
        </h2>

        <div class="portlet light">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="productForm" novalidate>
                    <div class="form-body">
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.name, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.name[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" required ng-model="product.Name">
                                <span class="help-block" ng-show="hasError(productForm.name, 'required')">{{locale.errors.nameRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.model, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.model[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="model" required ng-model="product.Model">
                                <span class="help-block" ng-show="hasError(productForm.model, 'required')">{{locale.errors.modelRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.type, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.type[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="type" required ng-model="product.Type">
                                <span class="help-block" ng-show="hasError(productForm.type, 'required')">{{locale.errors.typeRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.manufacturer, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.manufacturer[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="manufacturer" required ng-model="product.Manufacturer">
                                <span class="help-block" ng-show="hasError(productForm.manufacturer, 'required')">{{locale.errors.manufacturerRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.placeOfManufacturing, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.placeOfManufacturing[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="placeOfManufacturing" required ng-model="product.PlaceOfManufacturing">
                                <span class="help-block" ng-show="hasError(productForm.placeOfManufacturing, 'required')">{{locale.errors.placeOfManufacturingRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !hasSpecs() && product.specAdded }">
                            <label class="col-md-4 control-label">{{locale.fields.technicalSpecs[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <ul class="spec-list">
                                    <li ng-repeat="spec in product.technicalSpecs">
                                        <input type="text" class="form-control" ng-model="spec.value">
                                        <button class="btn remove--spec btn-xs btn-outline red" ng-click="removeSpec(spec.id)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </li>
                                </ul>

                                <button class="btn btn-sm blue" ng-click="addSpecs()">
                                    <i class="fa fa-plus"></i>
                                    Add
                                </button>

                                <span class="help-block" ng-show="!hasSpecs() && product.specAdded">{{locale.errors.technicalSpecsRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.manufacturerISO9000CertNumber, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.manufacturerISO9000CertNumber[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="manufacturerISO9000CertNumber" required ng-model="product.ManufacturerISO9000CertNumber">
                                <span class="help-block" ng-show="hasError(productForm.manufacturerISO9000CertNumber, 'required')">{{locale.errors.manufacturerISO9000CertNumberRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.iSO9000CertVerifyLink, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.iSO9000CertVerifyLink[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="iSO9000CertVerifyLink" required ng-model="product.ISO9000CertVerifyLink">
                                <span class="help-block" ng-show="hasError(productForm.iSO9000CertVerifyLink, 'required')">{{locale.errors.iSO9000CertVerifyLinkRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <h3 class="form-section">
                            {{locale.fields.importerDomesticManufacturerSection[selectedLanguage.value]}}
                        </h3>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.importerName, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.importerName[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="importerName" ng-model="product.ImporterDomesticManufacturer.Name" required>
                                <span class="help-block" ng-show="hasError(productForm.importerName, 'required')">{{locale.errors.importerNameRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.importerAddress, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.importerAddress[selectedLanguage.value]}}</label>
                            <div class="col-md-6">
                                <textarea cols="1" rows="3" class="form-control" name="importerAddress" ng-model="product.ImporterDomesticManufacturer.Address" required></textarea>
                                <span class="help-block" ng-show="hasError(productForm.importerAddress, 'required')">{{locale.errors.importerAddressRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.importerPhone, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.importerPhone[selectedLanguage.value]}}</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="importerPhone" ng-model="product.ImporterDomesticManufacturer.Phone" required>
                                <span class="help-block" ng-show="hasError(productForm.importerPhone, 'required')">{{locale.errors.importerPhoneRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{locale.fields.importerFax[selectedLanguage.value]}}</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="importerPhone" ng-model="product.ImporterDomesticManufacturer.Fax">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(productForm.importerTax, 'invalid')}">
                            <label class="col-md-4 control-label">{{locale.fields.importerTax[selectedLanguage.value]}}</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="importerTax" ng-model="product.ImporterDomesticManufacturer.Tax" required>
                                <span class="help-block" ng-show="hasError(productForm.importerTax, 'required')">{{locale.errors.importerTaxRequired[selectedLanguage.value]}}</span>
                            </div>
                        </div>
                        <h3 class="form-section">
                            {{locale.fields.serialPhotos[selectedLanguage.value]}}
                        </h3>
                        <div class="photos--section">
                            <input type="file" id="fileImport" multiple style="position:absolute; left: -1000px; top: -10000px; width: 0; height: 0" nv-file-select uploader="uploader" accept="image/*" />
                            <div class="photos">
                                <div class="photo--item" ng-repeat="item in uploader.queue">
                                    <div ng-thumb="{ file: item._file, height: 100 }">
                                    </div>
                                    <span class="remove--button" ng-click="removePhoto(item)">
                                        <i class="fa fa-times">

                                        </i>
                                    </span>
                                </div>

                            </div>
                            <button class="btn green-haze" ng-click="selectFile()">
                                <i class="fa fa-upload">
                                </i>
                                Select file
                            </button>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary" ng-click="submit(productForm)">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
@section plugin {
    <script src="~/app/assets/plugins/angular-file-upload/angular-file-upload.min.js"></script>
}
@section js {
    <script src="~/app/services/gv.rest.product.js"></script>
    <script src="~/app/components/product/product.js"></script>
}