@section css {
    <link href="~/app/components/home/home.css" rel="stylesheet" />
}
<!-- BEGIN CONTENT -->
<div class="page-content" ng-controller="homeCtrl">
    <div class="hero">
        <img src="~/app/assets/imgs/home-hero.jpg" alt="hero image" />
    </div>
    <div class="gv-section">
        <div class="gv-section--title">
            {{locale.section.services.title[selectedLanguage.value]}}
        </div>
        <div class="gv-section--body">
            <ul class="service-categories">
                <li ng-repeat="c in servicesCategories"
                    class="service-item">
                    <a>
                        <span class="service-item--image">
                            <img ng-src="{{c.Image}}" alt="Image"/>
                        </span>
                        <span class="service-item--text">
                            {{c.Name}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gv-section">
        <div class="gv-section--title">
            {{locale.section.news.title[selectedLanguage.value]}}
        </div>
        <div class="gv-section--body">

        </div>
    </div>
    <div class="gv-section">
        <div class="gv-section--title">
            {{locale.section.clients.title[selectedLanguage.value]}}
        </div>
        <div class="gv-section--body">

        </div>
    </div>
</div>
<!-- END CONTENT -->

@section js {
    <script src="~/app/components/home/home.js"></script>
}