@section css {
    <link href="~/app/components/home/home.css" rel="stylesheet" />
}
<!-- BEGIN CONTENT -->
<div class="page-content" ng-controller="homeCtrl">
    <div class="hero">        
        <img src="~/app/assets/imgs/home-hero.jpg"  alt="hero image"/>
    </div>
    
</div>
<!-- END CONTENT -->

@section js {
    <script src="~/app/components/home/home.js"></script>
}