<style>
    .table_col_text {
        display: inline-block;
        padding-top: 0.5rem;
    }
</style>

<div ng-controller="categoryDetailCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    {{category.Name}}
                    <small>{{category.Description}}</small>
                </h3>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title kt-font-primary">
                                Articles
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">
                                <button ng-click="createArticle()" class="btn btn-outline-brand">
                                    <i class="la la-plus"></i>
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="max-width: 150px">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="items.length == 0">
                                    <td colspan="3">There are no articles</td>
                                </tr>
                                <tr ng-repeat="a in items">
                                    <td>
                                        <span class="table_col_text">{{a.data.Name}}</span>
                                    </td>
                                    <td>
                                        <span class="table_col_text">{{a.data.Description}}</span>
                                    </td>
                                    <td>                                        
                                        <button class="btn btn-elevate btn-sm btn-icon btn-icon-md btn-clean"
                                                title="Edit"                                                
                                                ng-click="edit(a)">
                                            <i class="la la-edit"></i>
                                        </button>
                                        <button class="btn btn-elevate btn-sm btn-icon btn-icon-md btn-clean"
                                                title="Delete"                                                
                                                ng-click="delete(a)">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->

</div>

@section pluginJs {
    <script src="~/app/assets/plugins/lodash/4.17.15/lodash.min.js"></script>
}

@section pageJs {
    <script src="~/app/services/gv.modal.js"></script>
    <script src="~/app/services/gv.rest.category.js"></script>
    <script src="~/app/services/gv.rest.article.js"></script>
    <script src="~/app/components/category/category.share.js"></script>
    <script src="~/app/components/category/category.detail.js"></script>
}
