<style>
    .kt-portlet__head-actions a.btn {
        display: flex;
    }

    .table_col_text {
        display: inline-block;
        padding-top: 0.5rem;
    }
</style>
<div ng-controller="categoryCtrl">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    {{currentCategory.Name}}
                    <small>{{currentCategory.Description}}</small>
                </h3>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title kt-font-primary">
                                Sub-Categories/Articles
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar" ng-if="currentCategory.ParentId !== ''">
                            <div class="kt-portlet__head-actions">
                                <a href="javascript:;" ng-click="create()" class="btn btn-outline-brand btn-sm btn-bold">
                                    <i class="la la-plus"></i>
                                    Create
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="max-width: 150px">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="categories.length == 0">
                                    <td colspan="3">There are no categories</td>
                                </tr>
                                <tr ng-repeat="c in categories">
                                    <td>
                                        <span class="table_col_text">{{c.Name}}</span>
                                    </td>
                                    <td>
                                        <span class="table_col_text">{{c.Description}}</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-elevate btn-sm btn-icon btn-icon-md btn-clean"
                                                title="Manage"
                                                ng-click="manage(c)">
                                            <i class="la la-gg"></i>
                                        </button>

                                        <button class="btn btn-elevate btn-sm btn-icon btn-icon-md btn-clean"
                                                title="Edit"
                                                ng-if="currentCategory.ParentId !== ''"
                                                ng-click="edit(c)">
                                            <i class="la la-edit"></i>
                                        </button>
                                        <button class="btn btn-elevate btn-sm btn-icon btn-icon-md btn-clean"
                                                title="Delete"
                                                ng-if="currentCategory.ParentId !== ''"
                                                ng-click="delete(c)">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->

</div>

@section pluginJs {
    <script src="~/app/assets/plugins/lodash/4.17.15/lodash.min.js"></script>
}

@section pageJs {
    <script src="~/app/services/gv.modal.js"></script>
    <script src="~/app/services/gv.rest.category.js"></script>
    <script src="~/app/services/gv.rest.article.js"></script>

    <script src="~/app/components/category/category.share.js"></script>
    <script src="~/app/components/category/category.list.js"></script>
}
