<style>
    #folder-link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .c-checkbox:checked + label:before {
        background: #2c65c1 !important;
    }
</style>
<div ng-controller="folderfieldAddEditCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/setup">Setup & Configuration</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/fs/library">Library</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <div class="btn-group button-menu-fix">
                    <span id="folder-link" class="btn btn-xs btn-outline btn-default" ng-click="backToFolder(folder.Id)">{{folder.Name}}</span>
                    <button class="btn btn-xs btn-default btn-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-if="currentUser.isAdmin">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-if="currentUser.isAdmin">
                        <li>
                            <a href="javascript:;" ng-click="permission(folder)" ng-class="{'disabled': folder.Owner.Id != currentUser.Id }"><i class="fa fa-cog"></i>&nbsp;Permission </a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="folderfield(folder)" ng-class="{'disabled': !hasPermission('Read', 'Folder')}"><i class="fa fa-files-o"></i>&nbsp;Fields</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="contentType(folder)" ng-class="{'disabled': !hasPermission('Read', 'ContentType')}"><i class="fa fa-list-alt"></i>&nbsp;Content Type </a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="workflow(folder)" ng-class="{'disabled': !hasPermission('Read', 'Workflow')}"><i class="fa fa-cogs"></i>&nbsp;Workflow</a>
                        </li>
                        <li>
                            <a href="/customform?folderid={{folder.Id}}" ><i class="fa fa-columns"></i>&nbsp;Custom Form</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Library Fields</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Library Fields
        <small><small>Manage library fields for <b>{{folder.Name}}</b></small></small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <form name="contentTypeForm" class="form form-horizontal" novalidate>
            <div class="form-body">

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn blue" ng-click="createField()"><i class="fa fa-plus"></i>&nbsp;New field</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-scrollable">
                            <table class="table table-hover table-condensed table-light">
                                <thead>
                                    <tr>
                                        <th style="width: 20px"> # </th>
                                        <th> Name </th>
                                        <th> API name </th>
                                        <th> DataType </th>
                                        <th> Required Field</th>
                                        <th> Default Value</th>
                                        <th style="width: 180px"> Actions </th>
                                    </tr>
                                </thead>
                                <tbody dnd-list="fields" dnd-drop="dropCallback(index, item.Id)">
                                    <tr ng-if="fields.length == 0">
                                        <td colspan="5" style="text-align:center">There are no fields</td>
                                    </tr>
                                    <tr ng-repeat="field in fields"
                                        dnd-draggable="field">
                                        <td align="center">{{$index + 1}}</td>
                                        <td>{{::field.Label}}</td>
                                        <td>{{::field.Name}}</td>
                                        <td>{{::field.DataType}}</td>
                                        <td><input id="select - {{field.Id}}" class="c-checkbox" type="checkbox" disabled="disabled" ng-model="field.Required"><label for="select - {{field.Id}}"></label></td>
                                        <td>{{::field.DefaultValue}}</td>
                                        <td>
                                            <button class="btn btn-xs blue-madison btn-outline" ng-click="edit(field)" ng-disabled="!hasPermission('Edit', objectType)"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                                            <button class="btn btn-xs red-flamingo btn-outline" ng-click="delete(field)" ng-disabled="!hasPermission('Edit', objectType)"><i class="fa fa-remove"></i>&nbsp;Delete</button>
                                        </td>
                                    </tr>
                                    <tr class="dndPlaceholder"><td colspan="5">Move here</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn default" ng-click="cancel()">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>

@section js {
    <script src="~/app/components/fs/fs.field.js"></script>
} 