<div ng-controller="activityWorkerCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Activity Workers</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Activity Worker
        <small>Manage Activity Workers- {{activitymode}}</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="table-scrollable">
                <table class="table table-hover table-condensed table-light">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Is running</th>
                            <th style="width: 220px"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!workers || workers.length == 0">
                            <td colspan="3">There are no items</td>
                        </tr>
                        <tr ng-repeat="item in workers">
                            <td><a>{{item.Name}}</a></td>
                            <td>
                                <i class="fa fa-check ng-hide" ng-show="item.Status == 'Alive'"></i>
                                <i class="fa fa-close ng-hide" ng-show="item.Status != 'Alive'"></i>
                            <td>
                                <button class="btn btn-xs green-haze btn-outline" ng-click="configure(item)"><i class="fa fa-list-alt"></i> Configure</button>
                                <button ng-disabled="item.Status == 'Alive'" class="btn btn-xs red-flamingo btn-outline" ng-click="delete(item)"><i class="fa fa-remove"></i>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- EDIT ACTIVITY WORKER -->
    <script type="text/ng-template" id="activityWorkerConfig.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"></button>
            <h3 class="modal-title">
                {{worker.Name}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- CLIENTS -->
                    <div class="portlet" ng-repeat="c in clientActivities">
                        <div class="portlet-title">
                            <div class="caption font-red-intense">
                                <span class="caption-subject bold uppercase"> {{c.Client.Name}}</span>
                                <a title="{{Title}}">
                                    <i ng-class="{'fa fa-check blue-button':c.Enabled,
                                            'fa fa-close red-button':!c.Enabled }"
                                       ng-click="toggleClient(c)"></i>
                                </a>
                            </div>
                            <div class="tools">
                                <a href="" class="collapse" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="alert alert-danger" ng-if="checkThread">
                                <button class="close" data-close="alert"></button>
                                Please assign thread to activity
                            </div>
                            <div class="table-scrollable">
                                <table class="table table-hover table-condensed table-light">
                                    <thead>
                                        <tr>
                                            <th>Activitity Name</th>
                                            <th>Version</th>
                                            <th>Enabled</th>
                                            <th>Thread</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="c.Activities.length == 0">
                                            <td colspan="4">There are no activities</td>
                                        </tr>
                                        <tr ng-repeat="a in c.Activities">
                                            <td>{{a.Name}}</td>
                                            <td>{{a.Version}}</td>
                                            <td width="100">
                                                <i ng-model="a.Enabled" ng-click="toggleActivity(c, a)" ng-class="{'fa fa-check blue-button': a.Enabled, 'fa fa-close red-button': !a.Enabled}"></i>
                                            </td>
                                            <td ng-class="{'has-error': (a.Thread == 0 && a.Enabled)}">
                                                <select required name="act{{a.Name}}" class="form-control" ng-disabled="!a.Enabled" ng-options="t as t for t in threads" ng-model="a.Thread"></select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="caption-desc font-grey-cascade">Click icons in Enabled column to change activities' status</span>
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" ng-click="submit()">OK</button>
            <button class="btn dark btn-outline" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

@section js {                                                              
    <script src="~/app/components/activityworker/activityworker.list.js"></script>
}