<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-upper">
        <div class="footer-logo">
            <a href="/">
                <img src="~/app/assets/imgs/footer-logo.png" />
            </a>
        </div>
        <div class="footer-links">
            <ul class="footer-links--wrapper">                
                <li ng-repeat="c in sidebarMenu.items" ng-show="!$first && !$last" class="link-item">
                    <a href="{{c.Url}}" ng-if="getFooterUrl(c)">
                        {{c.Name}}
                    </a>
                    <span ng-if="!getFooterUrl(c)">{{c.Name}}</span>
                </li>
            </ul>
        </div>
        <div class="footer-contact">
            <ul class="footer-contact--wrapper">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-map-pin"></i>
                        {{locale.footerContactAddress[selectedLanguage.value]}}
                    </a>
                </li>
                <li>
                    <a href="tel:+842462955377">
                        <i class="fa fa-phone"></i>
                        (+84 24) 62955377
                    </a>
                </li>
                <li>
                    <a href="mailto:info@gvcompany.com">
                        <i class="fa fa-envelope"></i>
                        info@gvcompany.com
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="page-footer-copyright">
        &copy; Copyright GV Company LTD 2020
    </div>  
    <div class="scroll-top">
        <i class="icon-arrow-up-circle"></i>
    </div>
</div>
<!-- END FOOTER -->

<script>
    function docReady(fn) {
        // see if DOM is already available
        if (document.readyState === "complete" || document.readyState === "interactive") {
            // call on next available tick
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    docReady(function() {
        var btn = document.getElementsByClassName("scroll-top")[0];
        btn.onclick = topFunction;

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                btn.style.display = "block";
            } else {
                btn.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    });
    
</script>