<link href="~/app/assets/m4.7/pages/css/about.min.css" rel="stylesheet" />
<div ng-controller="dashboardCtrl">
    
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Welcome {{currentUser.Name}}
    </h1>
    <!-- END PAGE TITLE     -->
    <!-- END PAGE HEADER    -->
    <div class="row" >
        <div class="col-md-3"
             ng-repeat="item in features">
            <div class="portlet light">
                <div class="nonunderline">
                    <div class="card-icon">
                        <a class="link" href="javascript:;" ng-click="onFeatureClick(item)">
                            <i class="{{item.icon}}"></i> <br />
                            <span class="card-title">
                                <span>{{item.title}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="card-desc">
                        <span ng-bind-html="item.Description"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/app/components/home/home.js"></script>
} 