<div ng-controller="datalistManageCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/setup">Setup & Configuration</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/datalist">DataList</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{dataListType.Name}}</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        {{dataListType.Name}}
        <small>Manage DataList Items</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <input type="file" id="fileImport" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="position:absolute; left: -1000px; top: -10000px; width: 0; height: 0" onchange="angular.element(this).scope().importFile(this)" />
    <div class="row">
        <div class="col-md-6">
            <button class="btn blue" ng-disabled="!hasPermission('Create', objectType)" ng-click="create()"><i class="fa fa-plus"></i>&nbsp;New</button>
            <button class="btn green" ng-disabled="!hasPermission('Create', objectType)" ng-click="importData()"><i class="fa fa-external-link"></i>&nbsp;Import</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-scrollable">
                <table class="table table-hover table-condensed table-light">
                    <thead>
                        <tr>
                            <th ng-repeat="item in dataListType.Fields">
                                {{item.Name}}
                            </th>
                            <th style="width: 150px"> Actions </th>
                        </tr>
                    </thead>
                    <tbody dnd-list="datalists" dnd-drop="dropCallback(index, item.Id)">
                        <tr ng-if="dataListItems.length === 0">
                            <td colspan="{{dataListType.Fields.length + 1}}">There are no data list items</td>
                        </tr>
                        <tr ng-repeat="item in dataListItems" dnd-draggable="item">
                            <td ng-repeat="field in dataListType.Fields">
                                {{item.Values[field.Name]}}
                            </td>
                            <td>
                                <button class="btn btn-xs blue-madison btn-outline" 
                                        ng-click="edit(item)" 
                                        ng-disabled="!hasPermission('Edit', objectType)">
                                    <i class="fa fa-edit"></i>
                                    &nbsp;Edit
                                </button>
                                <button class="btn btn-xs red-flamingo btn-outline" 
                                        ng-click="delete(item)" 
                                        ng-disabled="!hasPermission('Delete', objectType)">
                                    <i class="fa fa-remove"></i>
                                    &nbsp;Delete
                                </button>
                            </td>
                        </tr>
                        <tr class="dndPlaceholder"><td colspan="2">Move here</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ADD EDIT DATALIST -->
    <script type="text/ng-template" id="dataListAddEdit.html">
        <form name="fieldForm" class="form-horizontal" novalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"></button>
                <h3 class="modal-title">DataList Information!</h3>
            </div>
            <div class="modal-body">

                <div class="form-body">
                    <div class="form-group" ng-repeat="field in dataListFields">
                        <label class="col-md-3 control-label">{{field.Name}}</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" 
                                       maxlength="100" 
                                       class="form-control" 
                                       name="{{field.Name}}" 
                                       placeholder="Enter item {{field.Name}} here" 
                                       ng-model="dataListItem.Values[field.Name]"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue" ng-disabled="!fieldForm.$dirty" type="button" ng-click="ok()">Ok</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>

@section js {
    <script src="~/app/components/datalist/datalist.manage.js"></script>
}