@section css {
    <link href="~/app/components/article/article.css" rel="stylesheet" />
}
<div class="page-content" style="min-height: 1382px;" ng-controller="articleCtrl">
    <div class="hero">
        <div class="hero--image">
            <img src="~/app/assets/imgs/banner1.jpg" />
        </div>
    </div>
    <div class="article">
        <div class="title">
            {{article.Name}}
        </div>
        <div class="modified-date">
            <i class="fa fa-calendar"></i>
            {{article.LastModifiedDate}}
        </div>
        <div class="article--thumbnail">
            <img ng-src="{{article.Thumbnail}}"/>
        </div>
        <div class="article--content" ng-bind-html="article.Data">

        </div>
    </div>
</div>
@section plugin {
}
@section js {
    <script src="~/app/components/article/article.js"></script>
}