.gallery {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.g-item {
    margin: 20px;
}
.g-item__thumb {
    width:250px;
    height: 250px;
    position: relative;
    padding: 5px;
    border: 1px solid cadetblue;
}
.g-item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.g-item__caption {
    margin-top : 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    max-width: 300px;   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.g-item__thumb__actions {
    visibility: hidden; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.btn__remove {
    position: absolute;
    visibility: hidden;
    right: 8px;
    top: 8px;
}
.g-item__thumb.active > .g-item__thumb__actions,
.g-item__thumb.active > .btn__remove,
.g-item__thumb:hover > .g-item__thumb__actions,
.g-item__thumb:hover > .btn__remove {
    visibility: visible
}
