<div ng-controller="dataSourceTypeAddEditCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/setup">Setup & Configuration</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/datasource">DataSource</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Add/Edit</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        DataSource
        <small>Add/Edit Datasource</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <form name="dataSourceForm" class="form form-horizontal" novalidate>
            <div class="form-body">
                <div class="form-group" 
                     ng-class="{'has-error': (hasError(dataSourceForm.name, 'required') || existName)}">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-warning" style="color:red;"
                               ng-show="(hasError(dataSourceForm.name, 'required') || existName)"></i>
                            <input type="text" class="form-control" name="name"
                                   placeholder="Enter datasource name here" 
                                   ng-model-options="{ debounce: 1000 }"
                                   ng-change="onValueChanged('Name')"
                                   ng-model="dataSource.Name" required />
                        </div>
                        <span class="help-block"
                              ng-show="hasError(dataSourceForm.name, 'required')">
                            Datasource name is required
                        </span>
                        <span class="help-block" style="color:red;"
                              ng-show="existName">
                            Name has existed already
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Database Type</label>
                    <div class="col-md-4">
                        <select class="form-control" 
                                ng-options="dbType for dbType in databaseTypes" 
                                ng-model="dataSource.DatabaseType"
                                ng-change="onValueChanged()">
                        </select>
                    </div>
                </div>

                <div class="form-group" 
                     ng-class="{'has-error': hasError(dataSourceForm.connectionstring, 'required')}">
                    <label class="col-md-3 control-label">Connection String</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-warning" ng-show="hasError(dataSourceForm.connectionstring, 'required')"></i>
                            <input type="text" class="form-control"
                                   name="connectionstring" placeholder="Enter the connection string here"
                                   ng-change="onValueChanged()" ng-model="dataSource.ConnectionString" required />
                        </div>
                        <span class="help-block" 
                              ng-show="hasError(dataSourceForm.connectionstring, 'required')">
                            Connection string is required
                        </span>
                    </div>
                </div>

                <div class="form-group" 
                     ng-class="{'has-error': (hasError(dataSourceForm.querystring, 'required') || hasErrorWord)}">
                    <label class="col-md-3 control-label">Query String</label>
                    <div class="col-md-4">
                        <div class="input-icon right" style="display:flex; justify-content:flex-start;">
                            <i class="fa fa-warning" style="color:red;"
                               ng-show="hasError(dataSourceForm.querystring, 'required') || hasErrorWord"></i>
                            <input type="text" class="form-control"
                                   name="querystring" placeholder="Enter the query string here"
                                   ng-change="onValueChanged('Query')" ng-model="dataSource.QueryString" required />
                        </div>
                        <span class="help-block"
                              ng-show="hasError(dataSourceForm.querystring, 'required')">
                            Query string is required
                        </span>
                        <span class="help-block" style="color:red;"
                              ng-show="hasErrorWord">
                            {{errorMessage}}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <div class="input-icon right" style="display:flex; justify-content:flex-start; align-items:center;">
                            <button type="button" class="btn default"
                                    ng-disabled="!dataSourceForm.$valid || !validToCheck()"
                                    ng-click="validateDatasource()">
                                Check
                            </button>
                        </div>
                    </div>
                </div>

                <div ng-if="validDataSource">
                    <h4 class="block">Query Result</h4>
                    <div id="table-wrapper" style="width:100%; overflow:hidden; overflow-x:auto;">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th style="width:2%; text-align:right">#</th>
                                    <th ng-repeat="col in dataSource.ColumnList"
                                        style="overflow: hidden; margin-left:25px; text-align:left; text-overflow:ellipsis; white-space:nowrap; max-width:200px">
                                        {{col}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in queryResult">
                                    <td style="width:2%; text-align:right">
                                        {{$index + 1}}
                                    </td>
                                    <td ng-repeat="col in dataSource.ColumnList"
                                        style="overflow: hidden; margin-left:25px; text-align:left; text-overflow:ellipsis; white-space:nowrap; max-width:200px">
                                        {{item[col]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="!validDataSource || !hasChecked">Save</button>
                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section js {
    <script src="~/app/components/datasource/datasource.addedit.js"></script>
}