<style>
    .field-table-container {
        max-height: 350px;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
        padding: 0;
        width: calc(66.6666667% - 30px);
        left: 15px;
    }
</style>
<div ng-controller="contentAddEditCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li ng-repeat="item in content.Folder.Path">
                <a href="/fs/folder?id={{item.Id}}">{{item.Name}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span ng-if="content.Name == ''"> Add new Content </span>
                <span ng-if="content.Name != ''"> {{content.Name}} </span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Content
        <small>Add/Edit content</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <form name="contentForm" class="form form-horizontal" novalidate>
            <div class="col-md-6">
                <div class="form-body">
                    <div class="form-group" ng-class="{'has-error': hasError(contentForm.name, 'required')}">
                        <label class="col-md-4 control-label">Name<span class="required">&nbsp;*</span></label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.name, 'required')"></i>
                                <input type="text" maxlength="100" class="form-control" name="name" placeholder="Enter content name here" ng-model="content.Name" required />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.name, 'required')">Content name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tags</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <tags-input ng-model="tags"></tags-input>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" ng-if="libraryFields.length > 0">Library fields</h4>
                    <div class="form-group" 
                         ng-class="{'has-error': hasError(contentForm.lib{{field.Name}}, 'invalid')}" 
                         ng-repeat="field in libraryFields">
                        <label class="col-md-4 control-label">
                            {{field.Label}}
                            <span ng-show="field.Required && field.DataType != 'Checkbox'" class="required">
                                &nbsp;*
                            </span>
                        </label>
                        <div class="col-md-8" ng-if="field.DataType == 'Text'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <input type="text" class="form-control" ng-pattern="field.Format" name="lib{{field.Name}}" ng-required="field.Required" ng-model="content.LibraryFieldValues[field.Name]" maxlength="{{field.Length == 0 ? 4000 : field.Length}}" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'pattern')">{{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'TextArea'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <textarea class="form-control" rows="3" name="lib{{field.Name}}" ng-model="content.LibraryFieldValues[field.Name]" ng-required="field.Required"></textarea>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" style="padding-top: 7px" ng-if="field.DataType=='Checkbox'">
                            <input icheck skin="square-blue" type="checkbox" ng-model="content.LibraryFieldValues[field.Name]" />
                        </div>
                        <div class="col-md-8" ng-if="field.DataType=='Number'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <input type="number" class="form-control" ng-pattern="field.Format" name="lib{{field.Name}}" min="{{field.Minimum}}" max="{{field.Length}}" ng-required="field.Required" ng-model="content.LibraryFieldValues[field.Name]">
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'pattern')">{{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}</span>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'min')">{{field.Label}} value must be from {{field.Minimum}} to {{field.Length}}</span>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'max')">{{field.Label}} value must be from {{field.Minimum}} to {{field.Length}}</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'DateTime'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <input type="datetime-local" class="form-control" name="lib{{field.Name}}" ui-date-format="yyyy-mm-dd hh:mm:ss" ng-model="content.LibraryFieldValues[field.Name]" ng-required="field.Required" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Date'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <input type="date" class="form-control" ng-required="field.Required" name="lib{{field.Name}}" ng-model="content.LibraryFieldValues[field.Name]" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Picklist'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <select class="form-control" name="lib{{field.Name}}" ng-model="content.LibraryFieldValues[field.Name]" ng-required="field.Required" ng-options="item as item for item in field.Items"></select>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'MultiSelect'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')"></i>
                                <ol style="padding-left: 0px; padding-right: 0px; width:100%" class="nya-bs-select form-control" name="lib{{field.Name}}" ng-model="content.LibraryFieldValues[field.Name]" multiple ng-required="field.Required">
                                    <li nya-bs-option="item in field.Items">
                                        <a>
                                            {{ item }}
                                            <span class="fa fa-check check-mark"></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8 field-table-container" ng-if="field.DataType == 'Table'">
                            <table-data-control editable="true"
                                                field="field"
                                                model="content.LibraryFieldValues[field.Name]">
                            </table-data-control>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Lookup'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.lib{{field.Name}}, 'invalid')"></i>
                                <ui-select ng-model="field.LookupValue"
                                           class="form-control"
                                           reset-search-input="false"
                                           on-select="lookupSelectItem(field)">
                                    <ui-select-match placeholder="Supply a filter...">
                                        <span ng-bind="$select.selected[field.LookupField]"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in field.Items"
                                                       minimum-input-length="1"
                                                       refresh="lookupGetItems($select.search, field)"
                                                       refresh-delay="1000"
                                                       ui-disable-choice="item[field.LookupField] === 'Load more...'">
                                        <span ng-bind-html="item[field.LookupField] | highlight: $select.search" 
                                              ng-if="item[field.LookupField] !== 'Load more...'">
                                        </span>
                                        <span ng-bind="item[field.LookupField]" ng-mouseover="lookupLoadMore(item, field, $select.search)"
                                              ng-if="item[field.LookupField] === 'Load more...'">
                                        </span>
                                        <br />
                                        <small style="font-style:italic;" ng-if="item[field.LookupField] !== 'Load more...' && item[field.LookupFieldDisplay]">
                                            {{field.LookupFieldDisplay + ' : ' + item[field.LookupFieldDisplay]}}
                                        </small>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <span>There are no records matched your request</span>
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.lib{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                    </div>
                    <h4 class="form-section" ng-if="content.ContentType.Fields.length > 0">Fields</h4>
                    <div class="form-group"
                         ng-class="{'has-error': hasError(contentForm.fie{{field.Name}}, 'invalid') }" ng-repeat="field in content.ContentType.Fields">
                        <label class="col-md-4 control-label">{{field.Label}}<span ng-show="field.Required && field.DataType != 'Checkbox'" class="required">&nbsp;*</span></label>
                        <div class="col-md-8 field-table-container" ng-if="field.DataType == 'Table'">
                            <table-data-control editable="true"
                                                field="field"
                                                model="content.Values[field.Name]">
                            </table-data-control>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Text'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <input type="text" class="form-control" ng-pattern="field.Format" name="fie{{field.Name}}" ng-required="field.Required" ng-model="content.Values[field.Name]" maxlength="{{field.Length == 0 ? 4000 : field.Length}}" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'pattern')">{{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'TextArea'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <textarea class="form-control" name="fie{{field.Name}}" rows="3" ng-required="field.Required" ng-model="content.Values[field.Name]"></textarea>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" style="padding-top: 7px" ng-if="field.DataType=='Checkbox'">
                            <input icheck skin="square-blue" type="checkbox" ng-model="content.Values[field.Name]" />
                        </div>
                        <div class="col-md-8" ng-if="field.DataType=='Number'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <input type="number" class="form-control" ng-pattern="field.Format" name="fie{{field.Name}}" min="{{field.Minimum}}" max="{{field.Length}}" ng-required="field.Required" ng-model="content.Values[field.Name]">
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'pattern')">{{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}</span>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'min')">{{field.Label}} value must be from {{field.Minimum}} to {{field.Length}}</span>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'max')">{{field.Label}} value must be from {{field.Minimum}} to {{field.Length}}</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'DateTime'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <input type="datetime-local" ng-required="field.Required" name="fie{{field.Name}}" class="form-control" ng-model="content.Values[field.Name]" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Date'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <input type="date" class="form-control" ng-required="field.Required" name="fie{{field.Name}}" ng-model="content.Values[field.Name]" />
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Picklist'">

                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <select class="form-control" name="fie{{field.Name}}" ng-model="content.Values[field.Name]" ng-required="field.Required" ng-options="item as item for item in field.Items"></select>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'MultiSelect'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')"></i>
                                <ol style="padding-left: 0px; padding-right: 0px; width:100%" class="nya-bs-select form-control" name="fie{{field.Name}}" ng-model="content.Values[field.Name]" multiple ng-required="field.Required">
                                    <li nya-bs-option="item in field.Items">
                                        <a>
                                            {{ item }}
                                            <span class="fa fa-check check-mark"></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                        <div class="col-md-8" ng-if="field.DataType == 'Lookup'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(contentForm.fie{{field.Name}}, 'invalid')"></i>
                                <ui-select ng-model="field.LookupValue"
                                           class="form-control"
                                           reset-search-input="false"
                                           on-select="lookupSelectItem(field)">
                                    <ui-select-match placeholder="Supply a filter...">
                                        <span ng-bind="$select.selected[field.LookupField]"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in field.Items"
                                                       minimum-input-length="1"
                                                       refresh="lookupGetItems($select.search, field)"
                                                       refresh-delay="1000"
                                                       ui-disable-choice="item[field.LookupField] === 'Load more...'">
                                        <span ng-bind-html="item[field.LookupField] | highlight: $select.search"
                                              ng-if="item[field.LookupField] !== 'Load more...'">
                                        </span>
                                        <span ng-bind="item[field.LookupField]" ng-mouseover="lookupLoadMore(item, field, $select.search)"
                                              ng-if="item[field.LookupField] === 'Load more...'">
                                        </span>
                                        <br />
                                        <small style="font-style:italic;" ng-if="item[field.LookupField] !== 'Load more...' && item[field.LookupFieldDisplay]">
                                            {{field.LookupFieldDisplay + ' : ' + item[field.LookupFieldDisplay]}}
                                        </small>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <span>There are no records matched your request</span>
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <span class="help-block" ng-show="hasError(contentForm.fie{{field.Name}}, 'required')">{{field.Label}} is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="margin-top: 10px;"></label>
                        <label class="col-md-8 control-label" style="margin-top: 10px; text-align: left;">(<span class="required">*</span>)&nbsp;Required field</label>
                    </div>
                </div>
            </div>
            <!-- Attachments-->
            <div class="col-md-6">
                <div class="form-group">
                    <h4 class="form-section" style="margin-top: -4px; margin-bottom: 4px;">Files uploaded</h4>
                    <div class="col-md-12 attachment-table">
                        <div class="col-md-12 attachment-table" ng-if="content.Attachments.length==0">There are no files uploaded</div>
                        <div ng-repeat="f in content.Attachments" ng-show="f.Type == 'Public'">
                            <div class="col-md-8 attachment-table" style="white-space:nowrap; max-width:600px; text-overflow:ellipsis; overflow:hidden">
                                <a href="#" ng-click="viewPdf(f,false)" ng-if="showPreviewWithId != f.Id"><i class="fa fa-angle-right"></i> {{f.Name}}</a>
                                <!--Hide pdf viewer-->
                                <a href="#" ng-click="hidePdfPreview()" ng-if="showPreviewWithId == f.Id"><i class="fa fa-angle-down"></i> {{f.Name}}</a>
                            </div>
                            <div class="col-md-4 attachment-table">
                                <button class="btn btn-xs green btn-outline" ng-click="viewPdf(f,true)"><i class="fa fa-download"></i> Download</button>
                                <button class="btn btn-xs red-flamingo btn-outline" ng-click="deleteAttachment(f)"><i class="fa fa-remove"></i>Remove</button>
                            </div>
                            <div id="pdf-screen-preview" ng-if="showPreviewWithId==f.Id && canViewAsPdf(f)">
                                <pdfjs-viewer data="pdf.src" print="false" open="false" download="false" viewBookmark="false"></pdfjs-viewer>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-body">
                    <div class="form-group">
                        <h4 class="form-section">Attachments</h4>
                        <div class="form-group">
                            <div class="col-md-4">
                                <h5 style="margin: 10px 0" class="form-section">Select files</h5>
                                <input type="file" id="file_uplaod" class="form-control" nv-file-select="" ng-click="uploader.upload(); resetValid()" uploader="uploader" multiple />
                            </div>
                            <div class="col-md-8">
                                <h5 style="margin: 10px 0; padding-left:5px;" class="form-section">Upload queue</h5>
                                <table class="table table-hover table-condensed table-light">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%"> Name </th>
                                            <th> Size </th>
                                            <th> Progress </th>
                                            <th style="width: 100px"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress progress-striped active" style="margin-bottom: 0;">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <button class="btn btn-xs red-flamingo btn-outline" ng-click="item.remove()"><i class="fa fa-remove"></i>Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn btn-primary" ng-disabled="!(validateForm(contentForm) && contentForm.$dirty && !contentForm.$invalid)" ng-show="settings.CreateContentDirectly" ng-click="submit()">Submit</button>
                            <button type="button" class="btn btn-primary" ng-if="mode == 'Create'" ng-disabled="!(validateForm(contentForm) && !contentForm.$invalid)" ng-show="settings.AllowSendContentToWorkflow" ng-click="submitsendtoworkflow()">Submit & Send to Workflow</button>
                            <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Attachments -->
        </form>
    </div>
</div>

@section js {
    <script src="~/app/components/content/content.addedit.js"></script>
    <style type="text/css">
        table.table tbody td {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 500px;
        }
        table.table thead th {
            height: 34px;
        }
    </style>
}