@media (min-width: 992px) {
    .c-layout-header .c-brand {
        margin: 15px 0;
    }

    .c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
        margin: 6px 0;
    }
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center
}
@media (min-width: 768px) {
    .service-item {
        flex: 0 0 calc(33.33% - 10px);
    }
}

@media (max-width: 767px) {
    .service-item {
        flex: 0 0 calc(50% - 10px);
    }
}