<style>
    .field-list span {
        display: block;
    }
    .field-list select {
        width: 100%;
        min-height: 150px;
    }
    .error-msg {
        color: red;
    }
</style>
<div ng-controller="folderViewAddEditCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/fs/folder?id={{view.Folder.Id}}">{{view.Folder.Name}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/folderview?folderid={{view.Folder.Id}}">Manage views</a>
                <i class="fa fa-circle"></i>
            </li>            
            <li>
                <span> Add/Edit view</span>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title" ng-if="mode == 'Create'">
        Create View
        <small>Add new view for folder {{view.Folder.Name}}</small>
    </h1>
    
    <h1 class="page-title" ng-if="mode == 'Update'">
        Edit view {{view.Name}}
        <small></small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <form name="folderViewForm" class="form form-horizontal" novalidate>
                <div class="form-body form-addedit-fv">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-class="{'disableEdit' : isDisableEdit}" ng-model="view.Name" maxlength="50" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Description</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="3" ng-class="{'disableEdit' : isDisableEdit}" ng-model="view.Description"></textarea>
                        </div>
                    </div>

                    <h4 class="form-section"><i class="fa fa-list-alt"></i> Filters</h4>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <table class="table table-light table-hover table-condensed" ng-class="{'disableEdit' : isDisableEdit}" style="margin-bottom: 8px;">
                                <thead>
                                    <tr>
                                        <th style="width: 30px">#</th>
                                        <th style="width: 30%;">Field</th>
                                        <th style="width: 20%;">Operator</th>
                                        <th>Value</th>
                                        <th style="width: 50px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in rules">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <div class="input-group">
                                                <select class="form-control"
                                                        ui-select2="{placeholder:'Select',width:'100%'}"
                                                        ng-model="rule.Field"
                                                        ng-change="ruleChanged(rule)"
                                                        ng-options="field as field.Name group by field.Group for field in allFilterFields track by field.Value"></select>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-control" ng-options="oper for oper in operatorsByField(rule.Field, rule.Today)" ng-change="ruleValueChanged(rule)" ng-model="rule.Operator">
                                                <option value="">-- Operator --</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-if="rule.Field.Type == 'picklist' || rule.Field.Type == 'lookup'" class="form-control" ng-change="ruleValueChanged(rule)" ng-options="item as item for item in rule.Field.Items" ng-model="rule.Value"></select>
                                            <ol ng-if="rule.Field.Type == 'multiselect'" class="nya-bs-select form-control" ng-change="ruleValueChanged(rule)" ng-model="rule.Value" multiple>
                                                <li nya-bs-option="item in rule.Field.Items">
                                                    <a>
                                                        {{ item }}
                                                        <span class="fa fa-check check-mark"></span>
                                                    </a>
                                                </li>
                                            </ol>
                                            <input ng-if="rule.Field.Type == 'text' || !rule.Field.Type" class="form-control" type="text" ng-change="ruleValueChanged(rule)" ng-model="rule.Value" />
                                            <input ng-if="rule.Field.Type == 'number'" type="text" class="form-control" ng-change="ruleValueChanged(rule)" ng-model="rule.Value" numbers-decimals-only="decimal">
                                            <input ng-if="rule.Field.Type == 'checkbox'" id="{{rule.Id}}" class="c-checkbox" type="checkbox" ng-change="ruleValueChanged(rule)" ng-model="rule.Value" />
                                            <label ng-if="rule.Field.Type == 'checkbox'" for="{{rule.Id}}"></label>
                                            <input ng-if="rule.Field.Type == 'today'" class="form-control" type="text" readonly ng-change="ruleValueChanged(rule)" ng-model="rule.Value" />
                                            <div class="input-group" ng-if="(rule.Field.Type == 'date' || rule.Field.Type == 'datetime')">
                                                <div>
                                                    <input ng-if="rule.Field.Type == 'date' && !rule.IsToday" class="form-control" type="date" ng-model="rule.Value" />
                                                    <input ng-if="rule.Field.Type == 'datetime' && !rule.IsToday" class="form-control" type="datetime-local" ng-model="rule.Value" />
                                                    <input ng-if="(rule.Field.Type == 'date' || rule.Field.Type == 'datetime') && rule.IsToday" class="form-control" type="text" readonly ng-model="rule.Value" />
                                                </div>
                                                <span class="input-group-btn">
                                                    <button class="btn grey-cararra font-blue dropdown-toggle" style="margin-right: 0px; border-color:#bababa" type="button" data-toggle="dropdown">
                                                        <i class="fa fa-chevron-down" style="font-size:10px" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li ng-class="{'active': rule.IsToday}" ng-click="changeToday(rule, true)">
                                                            <a title="today" href="javascript:">
                                                                <i aria-hidden="false" style="font-size:12px !important;"></i> Today
                                                            </a>
                                                        </li>
                                                        <li ng-class="{'active': !rule.IsToday}" ng-click="changeToday(rule, false)">
                                                            <a title="set date" href="javascript:">
                                                                <i aria-hidden="false" style="font-size:12px !important;"></i> Custom date
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </span>
                                            </div>
                                            <textarea ng-if="rule.Field.Type == 'textarea'" style="height: 34px" class="form-control" ng-change="ruleValueChanged(rule)" ng-model="rule.Value"></textarea>
                                        </td>

                                        <td>
                                            <a class="btn btn-xs red btn-outline" href="javascript:;" ng-Show="!isDisableEdit" ng-click="removeRule(rule)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <a class="btn btn-link" ng-Show="!isDisableEdit" ng-click="addRule()">Add new row</a>
                            </div>
                            <div class="well well-sm hidden">
                                Formula
                                <input type="text" maxlength="100" ng-disabled="isDisableEdit" class="form-control"
                                       name="formula"
                                       ng-model="formula"
                                       required
                                       autocomplete="off" style="text-transform: uppercase"
                                       placeholder="Enter formula to evaluate rules here.   Example: (1 OR 2) AND 3" />

                            </div>
                            <div ng-show="filterRuleErrorMessage.length > 0" class="error-msg">
                                {{filterRuleErrorMessage}}
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section"><i class="fa fa-columns"></i> Columns</h4>
                    <div class="form-group" ng-class="{'disableEdit' : isDisableEdit}">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-5 field-list" style="padding:0;">
                                    <div class="slimScrollDiv">
                                        <span style="font-weight: 600; padding-bottom: 10px;">Available Fields</span>
                                        <select multiple slimscroll
                                                style="height: 190px"
                                                ng-model="availableColumnsSelected"
                                                ng-options="field as field.Name group by field.Group for field in availableColumns track by field.Value"></select>
                                    </div>
                                </div>
                                <div style="width: 50px; float: left; padding: 10px 10px;">
                                    <span style="font-weight: 600; display: block;">&nbsp;</span>
                                    <button type="button" class="btn btn-icon-only default" ng-disabled="availableColumnsSelected.length <= 0 || (chosenColumns.length + availableColumnsSelected.length) > 20" ng-click="addColumns()">
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon-only default" ng-disabled="chosenColumnsSelected.length <= 0" ng-click="removeColumns()">
                                        <i class="fa fa-angle-double-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-5 field-list field-list-right">
                                    <div class="slimScrollDiv" style="">
                                        <span style="font-weight: 600; padding-bottom: 10px;">Selected Fields</span>
                                        <ul class="selected-columns list-group"
                                            dnd-list="chosenColumns"
                                            slimscroll
                                            role="menu"
                                            style="overflow:hidden; overflow-y:scroll; height: 190px !important">
                                            <li class="list-group-item" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="chosenColumns.splice($index, 1)" dnd-selected="chosenColumns.selected = item"
                                                ng-class="{'active': item.selected}" ng-click="selected(item)"
                                                ng-repeat="item in chosenColumns">
                                                {{item.Name}}
                                            </li>
                                            <li class="dndPlaceholder" style="display:block !important;height: 25px !important;"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="columnErrorMessage.length > 0" class="error-msg">
                                {{columnErrorMessage}}
                            </div>
                            <div ng-show="(chosenColumns.length + availableColumnsSelected.length) > 20" class="error-msg" style="margin-left: -15px; padding: 10px 0px;">
                                Maximum 20 fields can be selected
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section"><i class="fa fa-group"></i> Group by </h4>
                    <div class="form-group" ng-class="{'disableEdit' : isDisableEdit}">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-5 field-list" style="padding:0;">
                                    <div class="slimScrollDiv">
                                        <span style="font-weight: 600; padding-bottom: 10px;">Available Fields</span>
                                        <select multiple slimscroll
                                                style="height: 190px"
                                                ng-model="allGroupingFieldsSelected"
                                                ng-options="field as field.Name group by field.Group for field in allGroupingFields track by field.Value"></select>
                                    </div>
                                </div>
                                <div style="width: 50px; float: left; padding: 10px 10px;">
                                    <span style="font-weight: 600; display: block;">&nbsp;</span>
                                    <button type="button" class="btn btn-icon-only default"
                                            ng-disabled="allGroupingFieldsSelected.length <= 0 || (selectedGrouping.length + allGroupingFieldsSelected.length) > 5" ng-click="addColumns('Group')">
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon-only default"
                                            ng-disabled="selectedGroupingPicked.length <= 0" ng-click="removeColumns('Group')">
                                        <i class="fa fa-angle-double-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-5 field-list field-list-right">
                                    <div class="slimScrollDiv" style="">
                                        <span style="font-weight: 600; padding-bottom: 10px;">Selected Grouping Fields</span>
                                        <ul class="selected-columns list-group"
                                            dnd-list="selectedGrouping"
                                            slimscroll
                                            role="menu"
                                            style="overflow:hidden; overflow-y:auto; height: 190px !important">
                                            <li class="list-group-item"
                                                dnd-draggable="item"
                                                dnd-effect-allowed="move"
                                                dnd-moved="selectedGrouping.splice($index, 1)"
                                                dnd-selected="selectedGrouping.selected = item"
                                                ng-class="{'active': item.selected}"
                                                ng-click="selected(item, 'Group')"
                                                ng-repeat="item in selectedGrouping">
                                                {{item.Name}}
                                            </li>
                                            <li class="dndPlaceholder" style="display:block !important;height: 25px !important;"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="columnErrorMessage.length > 0" class="error-msg">
                                {{columnErrorMessage}}
                            </div>
                            <div ng-show="(selectedGrouping.length + allGroupingFieldsSelected.length) > 5" 
                                 class="error-msg" style="margin-left: -15px; padding: 10px 0px;">
                                Maximum 5 grouping fields can be selected
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section"><i class="fa fa-list-alt"></i> Sort by</h4>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-7" style="padding:0;">
                                    <select class="form-control" ng-change="sortChanged()" ng-model="viewSort">
                                        <option ng-repeat="item in chosenColumns" value="{{item.Value}}">{{item.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" ng-change="sortChanged()" ng-model="viewSortDirection">
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <h4 class="form-section"><i class="fa fa-list-alt"></i> Misc</h4>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Available For</label>
                        <div class="col-md-5">
                            <div class="table-scrollable" style="margin: 0 !important; min-height: 150px;">
                                <table class="table table-hover table-condensed table-light" ng-class="{'disableEdit' : isDisableEdit}">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th width="10%"> Type </th>
                                            <th width="80"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="view.Permissions.length == 0">
                                            <td colspan="3">
                                                No principle selected. Click on Add button to add new principle.
                                            </td>
                                        </tr>
                                        <tr ng-repeat="pr in view.Permissions">
                                            <td>
                                                <i class="fa fa-users" ng-if="pr.PrincipleType == 'Profile'"></i>
                                                <i class="fa fa-user" ng-if="pr.PrincipleType == 'User'"></i>
                                                {{pr.Name}}
                                            </td>
                                            <td>{{pr.PrincipleType}}</td>
                                            <td>
                                                <button class="btn btn-xs red" ng-if="pr.canRemove && !isDisableEdit" ng-click="removePrinciple(pr)">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn default" ng-if="!isDisableEdit" ng-click="addPrincipal()">Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label control-label-fix">Set As Default</label>
                        <div class="col-md-6">
                            <input id="defaultView" type="checkbox" class="c-checkbox" ng-model="view.IsDefault" />
                            <label for="defaultView"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label control-label-fix">Show Preview Panel</label>
                        <div class="col-md-6">
                            <input id="showPreview" type="checkbox" class="c-checkbox" ng-class="{'disableEdit' : isDisableEdit}" ng-model="view.ShowViewerPanel" />
                            <label for="showPreview"></label>
                        </div>
                    </div>

                </div>
                
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" class="btn btn-primary" ng-disabled="!(validateView() && folderViewForm.$dirty)" ng-click="submit()">Submit</button>
                            <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section js {
    <script src="~/app/components/folderview/folderview.addedit.js"></script>
}
