<div ng-controller="apsCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Cleanup Service</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Cleanup Service
        <small>Display all instance of the cleanup service</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="table-scrollable">
                <table class="table table-hover table-condensed table-light">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 220px"> Is running </th>
                            <th style="width: 220px"> LastUpdated </th>
                            <th style="width: 220px"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!services || services.length == 0">
                            <td colspan="2">There are no items</td>
                        </tr>
                        <tr ng-repeat="service in services">
                            <td>{{service.Name}}</td>
                            <td>
                                <i class="fa fa-check ng-hide" ng-show="service.Status == 'Alive'"></i>
                                <i class="fa fa-close ng-hide" ng-show="service.Status != 'Alive'"></i>
                            <td>{{service.LastUpdated}}</td>
                            <td>
                                <button class="btn btn-xs green-haze btn-outline" ng-click="configure(service)" ng-disabled="service.Status != 'Alive'"><i class="fa fa-list-alt"></i> Configure</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- ADD EDIT SITE -->
<script type="text/ng-template" id="CleanupConfig.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h3 class="modal-title">Cleanup Service Configure In Minutes</h3>
    </div>
    <div class="modal-body">
        <form name="fieldForm" class="form-horizontal" novalidate>
            <div class="form-body">
                <div class="form-group" ng-class="{'has-error': hasError(fieldForm.manual, 'invalid')}">
                    <label class="col-md-3 control-label">Manual</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <i class="fa fa-warning" ng-show="hasError(fieldForm.manual, 'invalid')"></i>
                            <input type="number" max="180" min="1" class="form-control" name="manual" placeholder="Enter LimitTime here" ng-model="serviceConfig.Manual" required />
                        </div>
                        <span class="help-block" ng-show="hasError(fieldForm.manual, 'required')">Manual is required</span>
                        <span class="help-block" ng-show="hasError(fieldForm.manual, 'invalid')">Manual must must be in beween 1 and 180 </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': hasError(fieldForm.automatic, 'invalid')}">
                    <label class="col-md-3 control-label">Automatic</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <i class="fa fa-warning" ng-show="hasError(fieldForm.automatic, 'invalid')"></i>
                            <input type="number" max="180" min="1" class="form-control" name="automatic" placeholder="Enter LimitTime Automatic here" ng-model="serviceConfig.Automatic" required />
                        </div>
                        <span class="help-block" ng-show="hasError(fieldForm.automatic, 'required')">Automatic is required</span>
                        <span class="help-block" ng-show="hasError(fieldForm.automatic, 'invalid')">Automatic must be in beween 1 and 180</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-disabled="fieldForm.$invalid || fieldForm.$pristine" type="button" ng-click="ok()">Ok</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

@section js {
    <script src="~/app/components/cleanupservice/cleanupservice.list.js"></script>
}