<link href="~/app/components/field/css/field.css" rel="stylesheet" />
<div ng-controller="fieldCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/setup">Setup & Configuration</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/fs/library">Library</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <div class="btn-group button-menu-fix">
                    <span class="btn btn-xs btn-outline btn-default folderLink" 
                          ng-click="backToFolder()">{{folder.Name}}</span>
                    <button class="btn btn-xs btn-default btn-outline dropdown-toggle" 
                            type="button" data-toggle="dropdown" 
                            aria-expanded="false" ng-if="currentUser.isAdmin">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-if="currentUser.isAdmin">
                        <li>
                            <a ng-click="permission(folder)" 
                               ng-class="{'disabled': currentUser.Id != folder.Owner.Id}">
                                <i class="fa fa-cog"></i>
                                &nbsp;Permission
                            </a>
                        </li>
                        <li>
                            <a ng-click="folderfield(folder)" 
                               ng-class="{'disabled': !hasPermission('Read', 'Folder')}">
                                <i class="fa fa-files-o"></i>
                                &nbsp;Fields
                            </a>
                        </li>
                        <li>
                            <a ng-click="contentType(folder)" 
                               ng-class="{'disabled': !hasPermission('Read', 'ContentType')}">
                                <i class="fa fa-list-alt"></i>
                                &nbsp;Content Type
                            </a>
                        </li>
                        <li>
                            <a ng-click="workflow(folder)" 
                               ng-class="{'disabled': !hasPermission('Read', 'Workflow')}">
                                <i class="fa fa-cogs"></i>
                                &nbsp;Workflow
                            </a>
                        </li>
                        <li>
                            <a href="/customform?folderid={{folder.Id}}">
                                <i class="fa fa-columns"></i>
                                &nbsp;Custom Form
                            </a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{fieldScope === 'ContentType' ? '/contenttype?folderid=' + folder.Id : '/fs/Fields?folderid=' + folder.Id}}">
                    {{fieldScope === 'ContentType' ? 'Content Type' : 'Library Fields'}}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li ng-if="fieldScope === 'ContentType'">
                <a href="/contenttype/detail?id={{contentType.Id}}">
                    {{contentType.Name}}
                </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Add/Edit</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        {{fieldScope === 'ContentType' ? 'Content Type Field' : 'Library Field'}}
        <small>{{fieldScope === 'ContentType' ? 'Add/Edit Content Type Field' : 'Add/Edit Library Field'}}</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <form name="fieldForm" class="form-horizontal" novalidate>
                <div class="form-body">
                    <!--Field Label-->
                    <div class="form-group" ng-class="{'has-error': hasError(fieldForm.Label, 'invalid')}">
                        <label class="col-md-3 control-label">
                            Name
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(fieldForm.Label, 'invalid')"></i>
                                <input type="text"
                                       ng-blur="updateApiName(field.Label)"
                                       maxlength="250"
                                       class="form-control"
                                       name="Label"
                                       placeholder="Enter field name here"
                                       ng-model="field.Label"
                                       required
                                       ng-pattern="namePattern" />
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.Label, 'required')">
                                Name is required
                            </span>
                            <span class="help-block" ng-show="hasError(fieldForm.Label, 'pattern')">
                                Name must start with a letter
                            </span>
                        </div>
                    </div>

                    <!--Field Name-->
                    <div class="form-group"
                         ng-class="{'has-error': hasError(fieldForm.name, 'invalid'), 'disableEdit': mode === 'Edit'}">
                        <label class="col-md-3 control-label">
                            API Name
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-warning"
                                   ng-show="hasError(fieldForm.name, 'invalid')"></i>
                                <input type="text" maxlength="250"
                                       class="form-control"
                                       name="name"
                                       placeholder="Enter field API name here"
                                       ng-trim="false"
                                       ng-model="field.Name"
                                       required
                                       ng-pattern="nameApiPattern" />
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.name, 'required')">
                                API name is required
                            </span>
                            <span class="help-block" ng-show="hasError(fieldForm.name, 'pattern')">
                                API name must start with a letter and cannot contains special characters
                            </span>
                        </div>
                    </div>

                    <!--Data Type-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Data Type</label>
                        <div class="col-md-4">
                            <select class="form-control" ng-options="type as type for type in dataTypes"
                                    ng-change="changeDataType()" ng-model="field.DataType"></select>
                        </div>
                    </div>

                    <!--Number Field-->
                    <!--Minimum-->
                    <div class="form-group" ng-class="{'has-error': hasError(fieldForm.minimum, 'invalid')}"
                         ng-show="field.DataType == 'Number'">
                        <label class="col-md-3 control-label">
                            Minimum
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i style="color:red;" class="fa fa-warning"
                                   ng-show="hasError(fieldForm.minimum, 'invalid')">
                                </i>
                                <input type="number"
                                       class="form-control"
                                       name="minimum"
                                       min="-2147483648"
                                       required
                                       ng-model="field.Minimum"
                                       max="{{field.Length ? field.Length : 2147483647}}">
                            </div>
                            <span class="help-block" ng-if="hasError(fieldForm.minimum, 'max')">
                                {{field.Length ? 'Minimum value must not be greater than Maximum value' : 'Minimum value is too high'}}
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.minimum, 'required')">
                                The minimum value cannot be empty
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.minimum, 'min')">
                                The minimum value is too low
                            </span>
                        </div>
                    </div>
                    <!--Maximum-->
                    <div class="form-group"
                         ng-class="{'has-error': hasError(fieldForm.maximum, 'invalid')}"
                         ng-show="field.DataType == 'Number'">
                        <label class="col-md-3 control-label">
                            Maximum
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i style="color:red;"
                                   class="fa fa-warning"
                                   ng-show="hasError(fieldForm.maximum, 'invalid')"></i>
                                <input type="number"
                                       class="form-control"
                                       maxlength="20"
                                       name="maximum"
                                       max="2147483647"
                                       required
                                       min="{{field.Minimum ? field.Minimum : -2147483648}}"
                                       ng-model="field.Length">
                            </div>
                            <span class="help-block" ng-if="hasError(fieldForm.maximum, 'min')">
                                {{field.Minimum ? 'Maximum value must not be smaller than Minimum value' : 'Maximum value is too low'}}
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.maximum, 'max')">
                                The maximum value is too high
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.maximum, 'required')">
                                The maximum value cannot be empty
                            </span>
                        </div>
                    </div>

                    <!--Text Field-->
                    <!--Maximum Length-->
                    <div class="form-group"
                         ng-class="{'has-error': hasError(fieldForm.length, 'invalid')}"
                         ng-show="field.DataType == 'Text'">
                        <label class="col-md-3 control-label">
                            Max Length
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i style="color:red;"
                                   class="fa fa-warning"
                                   ng-show="hasError(fieldForm.length, 'invalid')"></i>
                                <input type="number"
                                       class="form-control"
                                       name="length"
                                       max="2147483647"
                                       min="0"
                                       required
                                       ng-pattern="maxLengthPattern"
                                       ng-model="field.Length">
                            </div>
                            <span class="help-block" ng-if="hasError(fieldForm.length, 'required')">
                                The length value cannot be empty
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.length, 'min')">
                                The length value cannot be smaller than 0
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.length, 'max')">
                                The length value is too high
                            </span>
                            <span class="help-block" ng-if="hasError(fieldForm.length, 'pattern')">
                                The length value must be an integer
                            </span>
                        </div>
                    </div>

                    <!--Pick List Or Multiselect Field-->
                    <div class="form-group" 
                         ng-class="{'has-error': hasError(fieldForm.fielditems, 'invalid')}"
                         ng-show="field.DataType == 'Picklist' || field.DataType == 'MultiSelect'">
                        <label class="col-md-3 control-label">
                            Items
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-warning" 
                                   ng-show="hasError(fieldForm.fielditems, 'required')">
                                </i>
                                <textarea class="form-control" 
                                          placeholder="Enter each item in one line" 
                                          name="fielditems" 
                                          ng-model="fieldItems"
                                          rows="4"
                                          ng-change="changeTextArea()" 
                                          ng-required="field.DataType == 'Picklist' || field.DataType == 'MultiSelect'">
                                </textarea>
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.fielditems, 'required')">Items field cannot be blank</span>
                        </div>
                    </div>

                    <!--Lookup Type-->
                    <div class="form-group" ng-class="{'has-error': hasError(fieldForm.lookuptype, 'invalid')}" 
                         ng-show="field.DataType == 'Lookup'">
                        <label class="col-md-3 control-label">
                            Lookup Type
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(fieldForm.lookuptype, 'required')"></i>
                                <select class="form-control" 
                                        id="lookupType"
                                        name="lookuptype"
                                        ng-model="field.LookupType"
                                        ng-change="onSelectLookupType()">
                                    <optgroup ng-repeat="lookupGroup in lookupGroups"
                                              label="{{lookupGroup.Name}}">
                                        <option ng-repeat="item in lookupGroup.Items"
                                                value="{{lookupGroup.Name === 'DataList' ? 'DataList|' + item.Id : 'DataSource|' + item.Id}}">
                                            {{item.Name}}
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.lookuptype, 'required')">
                                Lookup Type is required
                            </span>
                        </div>
                    </div>

                    <!--Lookup Field-->
                    <div class="form-group" ng-class="{'has-error': hasError(fieldForm.lookupfield, 'invalid')}" 
                         ng-show="field.DataType == 'Lookup' && field.LookupType !== ''">
                        <label class="col-md-3 control-label">
                            Lookup Field
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(fieldForm.lookupfield, 'required')"></i>
                                <select name="lookupfield" 
                                        class="form-control"
                                        ng-change="onSelectLookupField()"
                                        ng-options="lookupField for lookupField in allAvailableLookupFields"
                                        ng-model="field.LookupField"
                                        ng-required="field.DataType == 'Lookup' && field.LookupType !== ''">
                                    <option value="">-- Select lookup field --</option>
                                </select>
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.lookupfield, 'required')">
                                Lookup Field is required
                            </span>
                        </div>
                    </div>

                    <!--Lookup Field Display-->
                    <div class="form-group"
                         ng-show="field.DataType == 'Lookup' && field.LookupType !== ''">
                        <label class="col-md-3 control-label">
                            Lookup Fields Display
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <select name="lookupfielddisplay" 
                                        class="form-control"
                                        ng-options="field for field in allAvailableLookupFieldDisplays"
                                        ng-disabled="!field.LookupField"
                                        ng-model="field.LookupFieldDisplay">
                                    <option value="">-- Select lookup field display--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Table Field-->
                    <div class="form-group" ng-show="field.DataType === 'Table'">
                        <label class="col-md-3 control-label">
                            Columns
                        </label>
                        <div class="col-md-4">
                            <textarea class="form-control" 
                                      ng-model="fieldItems"
                                      rows="4"
                                      ng-change="changeTextArea()">
                            </textarea>
                            <span class="help-block">
                                Enter each column name in one line
                            </span>
                        </div>
                    </div>

                    <!--Required Checkbox-->
                    <div class="form-group" ng-show="field.DataType != 'Table' && field.DataType != 'Checkbox'">
                        <label class="col-md-3 control-label" 
                               style="padding-top: 0px !important">
                            Required
                        </label>
                        <div class="col-md-4">
                            <input id="select" 
                                   class="c-checkbox" 
                                   type="checkbox" 
                                   ng-model="field.Required">
                            <label for="select"></label>
                        </div>
                    </div>

                    <!--Format-->
                    <div class="form-group" 
                         ng-show="field.DataType == 'Text' || field.DataType == 'Number'">
                        <label class="col-md-3 control-label">
                            Format
                        </label>
                        <div class="col-md-4">
                            <input type="text" 
                                   class="form-control" 
                                   ng-model="field.Format" 
                                   ng-model-options="{ debounce: 1000 }" />
                        </div>
                    </div>

                    <!--Validation Message-->
                    <div class="form-group" 
                         ng-show="field.DataType === 'Text' || field.DataType === 'Number' || field.DataType === 'TextArea'">
                        <label class="col-md-3 control-label">
                            Validation Message
                        </label>
                        <div class="col-md-4">
                            <input type="text" 
                                   maxlength="550" 
                                   class="form-control" 
                                   name="label" 
                                   placeholder="Enter validaion message" 
                                   ng-model="field.ValidMessage" />
                        </div>
                    </div>

                    <!--Default Value-->
                    <div class="form-group" ng-show="field.DataType !== 'Table'"
                         ng-hide="field.DataType === 'Lookup'"
                         ng-class="{'has-error': hasError(fieldForm.defaultvalue, 'invalid')}">
                        <label class="col-md-3 control-label">
                            Default value
                        </label>
                        <div class="col-md-4" ng-if="field.DataType=='Text'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(fieldForm.defaultvalue, 'invalid')"></i>
                                <input type="text" 
                                       class="form-control" 
                                       name="defaultvalue" 
                                       ng-model="field.DefaultValue" 
                                       ng-pattern="field.Format" 
                                       maxlength="{{field.Length == 0 ? 4000 : field.Length}}" />
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.defaultvalue, 'pattern')">
                                {{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}
                            </span>
                        </div>
                        <div class="col-md-4" ng-if="field.DataType === 'TextArea'">
                            <textarea class="form-control" rows="3" ng-model="field.DefaultValue"></textarea>
                        </div>
                        <div class="col-md-4" style="padding-top: 7px" ng-if="field.DataType === 'Checkbox'">
                            <input icheck skin="square-blue" type="checkbox" ng-model="field.DefaultValue" />
                        </div>
                        <div class="col-md-4" ng-if="field.DataType=='Number'">
                            <div class="input-icon right">
                                <i class="fa fa-warning" ng-show="hasError(fieldForm.defaultvalue, 'invalid')"></i>
                                <input type="number" 
                                       class="form-control" 
                                       maxlength="20" 
                                       name="defaultvalue" 
                                       ng-pattern="field.Format" 
                                       ng-model="field.DefaultValue" 
                                       min="{{field.Minimum}}" 
                                       max="{{field.Length}}">
                            </div>
                            <span class="help-block" ng-show="hasError(fieldForm.defaultvalue, 'min')">
                                Default value must not be smaller than Minimum value
                            </span>
                            <span class="help-block" ng-show="hasError(fieldForm.defaultvalue, 'max')">
                                Default value must not be greater than Maximum value
                            </span>
                            <span class="help-block" ng-show="hasError(fieldForm.defaultvalue, 'pattern')">
                                {{field.ValidMessage=='' ? 'Invalid format':field.ValidMessage }}
                            </span>
                        </div>
                        <div class="col-md-4" ng-if="field.DataType == 'DateTime'">
                            <input type="datetime-local" class="form-control" ng-model="field.DefaultValue" />
                        </div>
                        <div class="col-md-4" ng-if="field.DataType == 'Date'">
                            <input type="date" class="form-control" ng-model="field.DefaultValue" />
                        </div>
                        <div class="col-md-4" ng-if="field.DataType == 'Picklist'">
                            <select class="form-control" ng-options="df for df in field.Items" ng-model="field.DefaultValue"></select>
                        </div>
                        <div class="col-md-4" ng-if="field.DataType == 'MultiSelect'">
                            <ol class="nya-bs-select form-control"
                                ng-model="field.DefaultValue" multiple>
                                <li nya-bs-option="item in field.Items">
                                    <a>
                                        {{ item }}
                                        <span class="fa fa-check check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <!--Lookup Dependent Fields-->
                    <div class="form-group" ng-show="field.DataType === 'Lookup'">
                        <label class="col-md-3 control-label">
                            Dependent Fields
                        </label>
                        <div class="col-md-4" style="margin-top:-15px;">
                            <table class="table table-bordered table-striped table-condensed flip-content"
                                   style="margin-top:15px;">
                                <thead class="flip-content">
                                    <tr>
                                        <th style="width:45%;">
                                            {{fieldScope === 'ContentType' ? 'Content Type Fields' : 'Library Fields'}}
                                        </th>
                                        <th style="width:45%;">
                                            {{isDataType('DataList') ? 'DataList Types' : 'DataSource Columns'}}
                                        </th>
                                        <th style="width:10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="dependentFields.length > 0">
                                    <tr ng-repeat="dependentField in dependentFields">
                                        <td>
                                            <select class="form-control"
                                                    ng-options="dpfield as dpfield.Label for dpfield in dependentField.AvailableFields track by dpfield.Id"
                                                    ng-model="dependentField.Field"
                                                    ng-change="onSelectField(dependentField.Field)">
                                                <option value="">
                                                    {{fieldScope === 'ContentType' ? '-- Content Type Field --' : '-- Library Field --'}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control"
                                                    ng-options="column for column in allAvailableLookupFields | filter: '!' + field.LookupField"
                                                    ng-model="dependentField.LUField"
                                                    ng-change="onSelectLUField(dependentField.LUField)">
                                                <option value="">
                                                    {{isDataType('DataList') ? '-- DataList Column --' : '-- DataSource Column --'}}
                                                </option>
                                            </select>
                                        </td>
                                        <td style="text-align:center;">
                                            <a class="btn btn-xs red btn-outline" ng-click="removeDependentField(dependentField)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a ng-click="addDependentField()"
                               ng-show="field.LookupField && dependentFields.length < initFilteredFields.length && allAvailableLookupFields.length > 1">
                                Add New
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4">
                            <button class="btn blue" ng-disabled="!fieldForm.$valid || !fieldForm.$dirty || !validateDependants()" type="button" ng-click="ok(false)">Save</button>
                            <button class="btn blue" ng-disabled="!fieldForm.$valid || !fieldForm.$dirty || !validateDependants()" type="button" ng-click="ok(true)">Save & New</button>
                            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section js {
    <script src="~/app/components/field/field.js"></script>
}