<link href="~/app/components/gallery/css/gallery.css" rel="stylesheet" />
<div ng-controller="galleryCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Image Gallery</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Image gallery
        <small>Manage iamges for GV app</small>
    </h1>
    <!-- END PAGE TITLE     -->
    <!-- END PAGE HEADER    -->
    <div class="row">
        <div class="col-md-12">
            @*<button class="btn yellow-casablanca">
                <i class="fa fa-plus"> </i>
                New Folder
            </button>*@
            <button class="btn green-meadow"
                    ng-click="selectFiles()">
                <i class="fa fa-upload"></i>
                Upload
            </button>
            <input type="file" id="fileImport" multiple accept="image/*" style="position:absolute; left: -1000px; top: -10000px; width: 0; height: 0" nv-file-select uploader="uploader" />
        </div>
    </div>
    <div class="progress progress-striped active" style="margin-top: 10px;" ng-show="uploader.isUploading">
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{uploader.progress}}%">
        </div>
    </div>

    <div class="gallery">
        <div class="g-item" ng-repeat="item in items">
            <div class="g-thumb">
                <button class="btn btn-xs red btn__remove"
                        title="Delete this image"
                        ng-click="delete(item)">
                    <i class="fa fa-remove">
                    </i>
                </button>
                <img class="g-item-img" src="{{item.Url}}" alt="{{item.Name}}">
                <div class="g-thumb-actions">
                    <button class="btn yellow-gold" ng-click="copyUrl(item)">Copy Url</button>
                </div>
            </div>
            <div class="g-item-caption">{{item.Name}}</div>
        </div>
    </div>
</div>

@section js {
    <script src="~/app/components/gallery/galleryCtrl.js"></script>
} 