<div ng-controller="apsCtrl">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Attachment Processor Service</span>
            </li>
        </ul>

    </div>
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Attachment Processor Service
        <small>Display all instance of the attachment processor service</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="table-scrollable">
                <table class="table table-hover table-condensed table-light">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 220px"> Is running </th>
                            <th style="width: 220px"> LastUpdated </th>
                            <th style="width: 220px"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!services || services.length == 0">
                            <td colspan="3">There are no items</td>
                        </tr>
                        <tr ng-repeat="service in services">
                            <td>{{service.Name}}</td>
                            <td>
                                <i class="fa fa-check ng-hide" ng-show="service.Status == 'Alive'"></i>
                                <i class="fa fa-close ng-hide" ng-show="service.Status != 'Alive'"></i>
                            <td>{{service.LastUpdated}}</td>
                            <td>
                                <button class="btn btn-xs green-haze btn-outline" ng-click="showLog(service)" ng-disabled="service.Status != 'Alive'"><i class="fa fa-list-alt"></i> Show Log</button>
                                <button class="btn btn-xs red-haze btn-outline" ng-click="showExportDialog(service)" ng-disabled="service.Status != 'Alive'"><i class="fa fa-list-alt"></i> Download</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- View Log -->
<script type="text/ng-template" id="viewLog.html">
    <style type="text/css">
        .my-custom-scrollbar {
            position: relative;
            height: 450px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h3 class="modal-title">Log Attachment Processor Service!</h3>
    </div>
    <div class="modal-body">
        <form name="fieldForm" class="form-horizontal" novalidate>
            <div class="form-body">
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 80px">#</th>
                                    <th scope="col" style="width: 420px">Name</th>
                                    <th scope="col">Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="logServices.length == 0">
                                    <td colspan="3" style="text-align: center">There are no Sites</td>
                                </tr>
                                <tr ng-if="logServices.length > 0" ng-repeat="logservice in logServices">
                                    <th scope="row"> {{$index + 1}}</th>
                                    <td>
                                        {{logservice.LogTime}}
                                    </td>
                                    <td>
                                        {{logservice.LogText}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>


@section js {
    <script src="~/app/components/attachmentprocessorservice/attachmentprocessorservice.list.js"></script>
}