<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--<target name="authorization" 
            xsi:type="File" 
            fileName="logs/${shortdate}.AuthorizationServer.log" 
            layout="${date:format=yyyy-MM-dd HH:mm:ss} ${message}" 
            />
    <target name="worker" 
            xsi:type="File" 
            fileName="logs/${shortdate}.ActivityWorker.log" 
            layout="${date:format=yyyy-MM-dd HH:mm:ss} ${message}" 
            />-->   
    
	<target
           name="WebApiTarget"
             xsi:type="File"
             fileName="Logs/WebApi.${shortdate}.log"
             encoding="utf-8"
             layout="${longdate} - ${level:uppercase=true}: ${message}"
             archiveEvery="Day"
             archiveNumbering="DateAndSequence"
             archiveDateFormat="yyyy-MM-dd"
             archiveAboveSize="15728640"
             maxArchiveFiles="14"
            />
	
  </targets>

  <rules>
	  <logger name="WebApi" minlevel="Info" writeTo="WebApiTarget" />
  </rules>
</nlog>
